.fa-valume{
    color: rgb(197, 13, 13);
    font-size: 40px;
}

.fa-instagram{
    color: orange;
    font-size: 40px;

}
.fa-tiktok{
    color: rgb(192, 27, 27);
    border: black;
    font-size: 160px;

}
.fa-twitter{
    color: blue;
    font-size: 40px;
}